
#spread-rouse{
    background-image: url('/issues/paperology/marbledpaper.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/rouse-righttexture.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-kunshinski{
    background-image: url('/issues/paperology/kunshinski-texture.jpeg');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  #spread-cadeau{
    background-image: url('/issues/paperology/cadeau-texture.jpeg');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  #spread-wilson{
    background-image: url('/issues/paperology/wilson-texture.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/wilson-taylor3.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-corfield{
    background-image: url('/issues/paperology/corfield-texture2.jpeg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  #spread-stamm{
    background-image: url('/issues/paperology/stamm-texture.jpeg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/stamm-righttexture.png');
      background-repeat: no-repeat;
      background-size: 100% auto;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-weichselbraun{
    background-image: url('/issues/paperology/weichselbraun-bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position:top;
  }
  #spread-drobnick-fisher{
    background-image: url('/issues/paperology/drobnickfisher-texture.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/drobnick-fisher-confetti.jpg');
      background-repeat: no-repeat;
      background-size: 100% auto;
      height: 100%;
      width: 50%;
      opacity:.7;
      position: fixed;
    }
  }
  #spread-sweeney{
    background-image: url('/issues/paperology/sweeney-texture.jpeg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    .bg{
      background-color:#000;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-iurascu{
    background-image: url('/issues/paperology/iurascu-texture.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  #spread-lynch{
    background-image: url('/issues/paperology/lynch-texture.jpeg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/lynch-righttexture.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-macleod{
    background-image: url('/issues/paperology/macleod-texture.jpeg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/macleod1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-herzog{
  background-image: url('/issues/paperology/herzog-texture.jpg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/herzog-righttexture.jpeg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-monger{
    background-image: url('/issues/paperology/monger-texture.jpg');
    background-size: 100% auto;
    background-position: left;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/monger-righttexture.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-moctezuma{
    background-color:#000;
    .page-right{
      padding-right:8%;
    }
    .page-left{
      padding-left:8%;
    }
  }
  #spread-fazli{
    background-image: url('/issues/paperology/fazli2.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  #spread-brahms{
    background-image: url('/issues/paperology/brahms-texture.jpg');
    background-size: 100% auto;
    background-position: left;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/brahms2.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-sylvestre{
    background-image: url('/issues/paperology/sylvestre1.jpg');
    background-size: 100% auto;
    background-position: left;
    background-repeat: no-repeat;
  }
  #spread-flint{
    background-image: url('/issues/paperology/flint-texture.jpeg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/flint-open.jpeg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-mari{
    background-image: url('/issues/paperology/mari-texture.jpeg');
    background-size: auto 100%;
    background-position: left;
    background-repeat: no-repeat;
    .bg{
      background-image:url('/issues/paperology/mari1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
      height: 100%;
      width: 50%;
      position: fixed;
    }
  }
  #spread-anselmo{
    background-image: url('/issues/paperology/anselmo1.jpeg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  %animation-default {
    opacity: 1 !important;
    z-index: 3;
  }
  @mixin carousel($items, $animation: 'default') {
    .carousel {
      width: 100%;
      position: relative;
      overflow: hidden;
  
      > input[type="radio"] {
        position: absolute;
        left: 0;
        opacity: 0;
        top: 0;
  
        &:checked {
          ~ .carousel__items .carousel__item,
          ~ .carousel__prev > label,
          ~ .carousel__next > label {
            opacity: 0;
          }
        }
  
        @for $i from 1 through $items {
          &:nth-child(#{$i}) {
            &:checked {
              ~ .carousel__items .carousel__item {
                @if $animation == 'default' {
                  &:nth-child(#{$i}) {
                    opacity: 1;
                  }
                }
              }
  
              ~ .carousel__prev {
                > label {
                  @if $i == 1 {
                    &:nth-child(#{$items}) {
                      @extend %animation-default;
                    }
                  } @else if $i == $items {
                    &:nth-child(#{$items - 1}) {
                      @extend %animation-default;
                    }
                  } @else {
                    &:nth-child(#{$i - 1}) {
                      @extend %animation-default;
                    }
                  }
                }
              }
  
              ~ .carousel__next {
                > label {
                  @if $i == $items {
                    &:nth-child(1) {
                      @extend %animation-default;
                    }
                  } @else {
                    &:nth-child(#{$i + 1}) {
                      @extend %animation-default;
                    }
                  }
                }
              }
  
              ~ .carousel__nav {
                > label {
                  &:nth-child(#{$i}) {
                    background: #f0f;
                    cursor: default;
                    pointer-events: none;
                  }
                }
              }
            }
          }
        }
      }
  
      &__items {
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        height: 400px;
        position: relative;
      }
  
      &__item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: opacity 2s;
        -webkit-transition: opacity 2s;
  
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
  
      &__prev,
      &__next {
        > label {
          border-radius: 50%;
          cursor: pointer;
          display: block;
          width: 40px;
          height: 40px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          opacity: 0;
          z-index: 2;
  
          &:hover,
          &:focus {
            opacity: .5 !important;
          }
  
          &:before,
          &:after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
          }
  
          &:before {
            background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
                        linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
            width: 60%;
            height: 60%;
            top: 20%;
          }
        }
      }
  
      &__prev {
        > label {
          left: 2%;
  
          &:before {
            left: 35%;
            top: 20%;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
          }
        }
      }
  
      &__next {
        > label {
          right: 2%;
  
          &:before {
            left: 10%;
            transform: rotate(315deg);
            -webkit-transform: rotate(315deg);
          }
        }
      }
  
      &__nav {
        position: absolute;
        bottom: 3%;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 3;
  
        > label {
          border: 1px solid #fff;
          display: inline-block;
          border-radius: 50%;
          cursor: pointer;
          margin: 0 .125%;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .carouselcontainer {
    width: 46%;
    min-width: 400px;
    margin-top:12%;
    margin-left: 0;
    position:fixed;
    filter: drop-shadow(5px 5px 30px rgb(93, 93, 93));
  }
  
  @include carousel(6);